<div class="container">
    <div class="d-flex justify-content-between">
        <h4>Grupos</h4>
        <button class="btn btn-success" (click)="navigateToForm()">Agregar</button>
    </div>
    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>Carrera</th>
                <th>Mareria</th>
                <th>Profesor</th>
                <th>Ciclo</th>
                <th>Año</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of lstGrupos">
                <ng-container *ngFor="let item2 of lstCarreras">
                    <td *ngIf="item.idCarrera === item2.idCarrera">{{item2.nombreCarrera}}</td>
                </ng-container>
                <ng-container *ngFor="let item4 of lstMaterias">
                    <td *ngIf="item.idMateria === item4.idMateria">{{item4.nombreMateria}}</td>
                </ng-container>
                <ng-container *ngFor="let item3 of lstProfesores">
                    <td *ngIf="item.idProfesor === item3.idProfesor">{{item3.nombresProfesor}}</td>
                </ng-container>
                <td>{{item.ciclo}}</td>
                <td>{{item.anio}}</td>
                <td>
                    <!-- Podemos enviar valores a metodos en el .ts de esta forma-->
                    <button class="btn btn-primary" (click)="updateGrupo(item.idGrupo)">Actualizar</button>
                    <!-- Esta es otra forma con la que podemos enviar valores a
                   metodos en el .ts-->
                    <button class="btn btn-danger ml-2" (click)="deleteGrupo($event)" value="{{item.idGrupo}}">Eliminar</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
